.container__menu-title {
  color: white;
  text-align: center;
  background-color: #006437; 
  padding: 20px 0;
}

.container__menu-title > h1 {
  margin: 15px 0;
  font-size: 6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.container__menu-title > h2 {
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-top: -20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.container__menu-title > hr {
  margin: 5px auto;
  width: 80%;
  border: 1px solid #ffffff;
  opacity: 0.5;
}