@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333;
}

a {
  text-decoration: none;
  color: #006437; 
}

h1, h2, h3, h4 {
  color: #006437;
}

/* Estilo para o tema alviverde */
.bg-palmeiras {
  background-color: #006437;
}

.text-palmeiras {
  color: #006437;
}